body {
    margin: 0;
    text-align: center;
    font-family: fantasy, verdana;
}

h1 {
    margin-top:0;
    display: inline;
    position:relative;
    padding: 30px
}

h2 {
    font-family: sacramento;
}

h3 {
    font-family: sacramento;
}

/******** CLASSES *********/
.top-container{
    background-color: #E4F9F5
}

.pic1 {
    position:relative;
    right:50px;
    top:35px
}

.pic2 {
    position:relative;
    left:50px;
    top:35px
}

.block{
    height:150px;
    width:150px;
    display: inline-block;
}

.middle-container{
    font-family: verdana;
}

.bottom-container{
}

